<h2><%= @task.title %></h2>
<h4><%= @task.details%></h4>

<% if @task.completed == true %>
<p>This task is completed</p>
<%else%>
<p>This task is not yet completed</p>
<%end%>
<%= link_to "Back to tasks list", index_path%>
<%= link_to "Edit this task", edit_path %>
